.App {
  text-align: center;
  font-family: Monospace;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}

button {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  margin: 10px 0;
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.3s ease;
  background-color: purple;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: orange;
}

button:active {
  color: blue;
}

.close-button {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: black;
}

.close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}