.create-list-form {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding: 10px;
    border: 1px solid black;
}

.create-list-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
}